---
import logo from '../../assets/images/CEDM-Logo-1.png';
---

<footer class="bg-white rounded-lg shadow-sm dark:bg-gray-900 m-4">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img class="h-20 w-auto" src={logo.src} alt="CEDM Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Centro Ecuménico Diego de Medellín</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a
                    href="https://www.facebook.com/diegodemedellin"
                    target="_blank"
                    aria-label="Facebook"
                    class="transition hover:scale-110 text-white"
                    >
                    <svg class="h-12 w-12 fill-current" viewBox="0 0 24 24"
                        ><path
                            d="M22 12a10 10 0 10-11.6 9.9v-7H8v-3h2.4V9c0-2.4 1.4-3.7 3.5-3.7 1 0 2 .2 2 .2v2.3h-1.1c-1.1 0-1.4.7-1.4 1.4v1.7h2.7l-.4 3h-2.3v7A10 10 0 0022 12z"
                        ></path></svg
                    >
                    </a>
                </li>
                <li>
                    <a
                    href="https://www.instagram.com/cdiegodemedellin/"
                    target="_blank"
                    aria-label="Instagram"
                    class="transition hover:scale-110 text-white"
                    >
                    <svg class="h-12 w-12 fill-current" viewBox="0 0 24 24"
                        ><path
                            d="M7.5 2h9A5.5 5.5 0 0122 7.5v9a5.5 5.5 0 01-5.5 5.5h-9A5.5 5.5 0 012 16.5v-9A5.5 5.5 0 017.5 2zm0 2A3.5 3.5 0 004 7.5v9A3.5 3.5 0 007.5 20h9a3.5 3.5 0 003.5-3.5v-9A3.5 3.5 0 0016.5 4h-9zm9 2a1 1 0 110 2 1 1 0 010-2zM12 7a5 5 0 110 10 5 5 0 010-10zm0 2a3 3 0 100 6 3 3 0 000-6z"
                        ></path></svg
                    >
                    </a>
                </li>
                <li>
                    <a
                    href="https://www.youtube.com/@CentroMedellin"
                    target="_blank"
                    aria-label="YouTube"
                    class="transition hover:scale-110 text-white"
                    >
                    <svg class="h-12 w-12 fill-current" viewBox="0 0 24 24"
                        ><path
                            d="M21.8 8s-.2-1.4-.8-2A2.8 2.8 0 0019 5.2C17.1 5 12 5 12 5s-5.1 0-7 .2a2.8 2.8 0 00-2 1.8C2.4 8 2.2 9.4 2.2 9.4S2 10.9 2 12.3v1.4c0 1.4.2 2.9.2 2.9s.2 1.4.8 2a2.8 2.8 0 002 .8c1.9.2 7 .2 7 .2s5.1 0 7-.2a2.8 2.8 0 002-.8c.6-.6.8-2 .8-2s.2-1.5.2-2.9v-1.4c0-1.4-.2-2.9-.2-2.9zM10 15V9.7l5.6 2.6L10 15z"
                        ></path></svg
                    >
                    </a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://www.oceanicaweb.cl/" class="hover:underline">Oceánica web</a>. All Rights Reserved.</span>
    </div>
</footer>



