---
// Importar el componente y las imágenes
import PostImage from '../PostImage.astro';
import nutram from '../../assets/images/m_nutram.webp';
import ppopular from '../../assets/images/m_PPOPULAR.webp';
import rehue from '../../assets/images/m_REHUE.webp';
import topicos from '../../assets/images/m_topicos-90.webp';
---

<section id="publicaciones" class="relative bg-cover bg-center bg-no-repeat min-h-screen">
    <div class="gap-20 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class=" mt-14 font-light text-gray-900 sm:text-lg dark:text-gray-900">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Nuestras publicaciones</h2>
            <p class="mb-4">La diversidad de actividades talleres, seminarios y encuentros fue generando un rico material escrito que se tradujo en libros, revistas, estudios monográficos y folletos. Todos ellos con la finalidad de generar nuevos modos de relación entre las comunidades de fe y la sociedad chilena: democráticos, participativos, sustentables, equitativos y solidarios.</p>
        </div>
        <div class="mt-20 grid grid-cols-2 gap-4">
            <!-- Primera fila de imágenes -->
            <PostImage 
                image={nutram} 
                alt="Descripción de Nutram" 
                className="w-full rounded-lg"
            />
            <PostImage 
                image={ppopular} 
                alt="Descripción de PPOPULAR" 
                className="mt-4 w-full lg:mt-10 rounded-lg"
            />
            <!-- Segunda fila de imágenes -->
            <PostImage 
                image={rehue} 
                alt="Descripción de REHUE" 
                className="w-full rounded-lg"
            />
            <PostImage 
                image={topicos} 
                alt="Descripción de Tópicos 90" 
                className="mt-4 w-full lg:mt-10 rounded-lg"
            />
        </div>
    </div>
</section>