---
import Navbar from '../components/landing/Navbar.astro'
import '../styles/global.css'
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>CEDM</title>
  </head>

  <body x-data>
    <Navbar />
    <slot />

    <!-- Alpine.js desde CDN -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js"></script>
  </body>
</html>
